<a href="https://colab.research.google.com/github/niteen11/lagcc_data_analytics_micro_credential/blob/master/Unit%203%20-%20Python%20Advanced/Assignments/Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

dataset=pd.DataFrame({
    'Country': np_olympic_country,
    'Gold Medals': np_olympic_country_Gold,
    'Silver Medal':np_olympic_country_Silver,
    'Bronze Medal':np_olympic_country_Bronze})
dataset

  Country  Gold Medals  Silver Medal  Bronze Medal
0     GBR           29            17            19
1   China           38            28            22
2     RUS           24            25            32
3      US           46            28            29
4     KOR           13             8             7
5     JPN            7            14            17
6     GER           11            11            14

In [3]:
# Combine (Country) to (Gold Medals)

CountriesGoldMedals = dict(list(zip(np_olympic_country,np_olympic_country_Gold)))

## 2.	Find country with maximum gold

In [4]:

print('\nResulting dataframe :\n', dataset.max())

# How to remove dytpe?

Resulting dataframe :
 Country         US
Gold Medals     46
Silver Medal    28
Bronze Medal    32
dtype: object

In [5]:
#IGNORE

rslt_df =dataset max(CountriesGoldMedals)
print(f'The country with the most gold medals is {CountryMostGoldMedal}')

SyntaxError: invalid syntax (Temp/ipykernel_19268/2961974895.py, line 1)

## 3.	Find countries with more than 20 gold medals

In [6]:
rslt_df = dataset[dataset['Gold Medals']>20]

print('\nResulting dataframe :\n', rslt_df)

Resulting dataframe :
   Country  Gold Medals  Silver Medal  Bronze Medal
0     GBR           29            17            19
1   China           38            28            22
2     RUS           24            25            32
3      US           46            28            29